form {
    background-color: rgb(12, 43, 56);
    width: 600px;
    height: 500px;
    background-position: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 30px;
    padding-top: 40px;
    margin-right: 80px;
}

input[type="submit"] {
    width: 360px;
    height: 38px;
    background-color: rgb(31, 169, 232);
    color: white;
    font-size: 15px;
    outline: none;
    border: rgb(45, 53, 68);
}

input[type="email"],
input[type="password"] {
    width: 344px;
    height: 20px;
    background-color: rgb(45, 53, 68);
    border: 1px solid rgb(217, 223, 233);
    color: white;
    border-collapse: collapse;
    margin-top: 10px;
}

.avatar {
    padding-left: 50px;
}