body{
    background-image: url('../images/b19.jpg');
    background-position: center;
    background-size: cover;
}

#form-group{
    margin-left: 200px;
    margin-top: -210px;
    color: black;
}
#btn{
    margin-left: -100px;
     margin-top: 30px;
      width:110px; 
      height: 40px;
       font-size: 22px;
}
div.card{
background-image: url('../images/b18.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}