/* body {
    background-image: url('../images/bc22.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
 */
nav.navbar {
    width: 1600px;
    height: 110px;
}

#h3 {
    padding-left: 21px;
    padding-bottom: 70px;
    padding-top: 20px;
}

#h6 {
    padding-top: 62px;
    padding-right: 598px;
    padding-left: 575px;
    margin-left: -1010px;
}
.homelink{
    padding-left: 500px;
    margin-top: -29px;
    font-size: 22px;

}

#consumerlogo {
    width: 140px;
    height: 130px;
    margin-left: -10px;
    margin-top: -30px;
}

.table{
    padding:10px;
    font-size: 20px;
}



/* #list {
    width: 370px;
    height: 400px;
    text-align: center;
    margin-left: 40px;
    margin-top: 200px;
}

#card {
    background-image: url('../images/bc12.jpg');
    width: 800px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1000px;
    margin-top: -500px;
}

#card-text {
    color: white;
} */