body{
    background-image: url('../images/b19.jpg');
    background-position: center;
    background-size: cover;
}

nav.navbar{
    width: 1610px;
    height: 110px;
}
#h3{
    padding-left:21px; 
    padding-bottom: 70px;
     padding-top: 20px;
}
#h6{
     padding-top: 62px;
     padding-right: 598px; 
     padding-left:  575px; 
      margin-left: -1010px;
}
#lang{
    font-size:larger;
    margin-left: 120px;
    margin-top: -59px;
}
#consumerlogo{
    width: 140px; 
    height: 130px;
     margin-left: -10px;
      margin-top: -30px;
}
div.language {
    padding-left: 220px;
    font-size: 18px;
    padding-bottom: 50px;
}

input[type="text"][placeholder="enter username"] {
    width: 265px;
    height: 41px;
    margin-right: 40px;
    padding-right: 50px;
}

input[type="password"][placeholder="enter password"] {
    width: 265px;
    height: 41px;
    margin-right: 40px;
    padding-right: 50px;
}

div.form-group {
    margin-left: 180px;
    margin-top: -160px;
}

div.container {
    margin-left: 500px;
    margin-top: 130px;
}


/* div.list-group {
    width: 300px;
    height: 550px;
    margin-left: 140px;
    margin-top: 10px;
    font-size: 16px;
} */

span.txt1 {
    font-size: 14px;
}

a.txt2 {
    font-size: 14px;
}

img {
    width: 200px;
    height: 100px;
}

form {
    align-self: flex-end;
}

div.fill {
    margin-top: -770px;
    float: right;
    margin-right: 80px;
    border: 1px solid black;
    color: blue;
}
/* div.portal {
    width: 50px;
    height: 60px;
    margin-left: 150px;
    margin-bottom: -380px;
    margin-top: 40px;
} */

.portal{
    margin-top: -400px;
}
.portal:hover {
    cursor: pointer;
    /* background: #ffc107;
    color: #000; */
   
    transform: scale(1.3,1.3);
    transition: .3s transform;
    
}

.colorchange{
	animation:  colorchangethapa 1s infinite;
}

@keyframes colorchangethapa{
	0%{color: rgb(167, 41, 41);}
	25%{color:#ecc165; ;}
	50%{ color: rgb(221, 39, 39); }
	100%{ color:#7a299c;  }
}